@import "tailwindcss";

/***AutocompleteSearch***/

.search-container {
  margin: auto;
  text-align: center;
  margin: 10px;
}

.search {
  border: 2px solid lightblue;
  width: 500px;
  padding: 5px;
}

.result-container {
  width: 500px;
  margin: auto;
  border: 1px solid blue;
  max-height: 400px;
  overflow: scroll;
}

.result {
  margin: 4px;
  padding: 5px;
  display: block;
}

.result:hover {
  background-color: beige;
  cursor: pointer;
}

/***Input OTP****/
.input-container {
  margin: 20px;
  text-align: center;
}

.input {
  border: 1px solid black;
  width:40px;
  height:40px;
  margin:4px;
  text-align:center;
  font-size:20px;
}
